.proposal-card-container {
  margin-top: 20px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border: 1px solid #425E81;
border-radius: 4px;
opacity: 1;
width: 100%;
}

.card-container:hover{
  border:2px solid #64A1F5;
}
.l-h {
  text-align: left;
font: normal normal normal 16px/18px Helvetica Neue;
letter-spacing: 0.48px;
color: #AAAAAA;
opacity: 1;
}
.edit {
background: transparent url('') 0% 0% no-repeat padding-box;
opacity: 1;
}
.bin  {
  background: transparent url('') 0% 0% no-repeat padding-box;
  opacity: 1;
}
.lower-part {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 5px;
  width: 100%;
  position: relative;
}
.main-header {
  text-align: left;
font: normal normal medium 20px/25px Helvetica Neue;
letter-spacing: 0.6px;
color: #081838;
opacity: 1;
padding-left: 1.6em;
padding-top: 1em;
}
.para-main {
  padding-left: 1.93em;
  padding-top: 0.6em;
  letter-spacing: 0.48px;
}
.l-h {
  padding-left: 1.93em;
  padding-top: 1em;
}
.l-l {
  padding-left: 1.6em;
  padding-top: 0.2em;
  padding-bottom: 0.81em;
}

.icons{
  position: absolute;
  right: 0;
  display: flex;
}

.icons>div{
  margin: 0 10px;
  color: rgb(165, 165, 165);
  padding-right: 10px;
}



